$primary-50: #f2f9f9;
$primary-100: #ddeff0;
$primary-200: #bfe0e2;
$primary-300: #92cace;
$primary-400: #5faab1;
$primary-450: rgb(114, 196, 203);
$primary-500: #438e96;
$primary-600: #3b757f;
$primary-700: #356169;
$primary-800: #325158;
$primary-900: #2d464c;
$primary-950: #1a2c32;
$primary: $primary-400;

// Import Bootstrap Variabels
// @import "node_modules/bootstrap/scss/variables";
@import "~bootstrap/scss/_variables.scss";
// Create your own map
$primary-colors: (
    "primary": $primary,
    "primary-50": $primary-50,
    "primary-100": $primary-100,
    "primary-200": $primary-200,
    "primary-300": $primary-300,
    "primary-400": $primary-400,
    "primary-450": $primary-450,
    "primary-500": $primary-500,
    "primary-600": $primary-600,
    "primary-700": $primary-700,
    "primary-800": $primary-800,
    "primary-900": $primary-900,
    "primary-950": $primary-950,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $primary-colors);

// Uncomment for use darkmode
// @import "node_modules/bootstrap/scss/variables-dark";
