// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.font-poppins {
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}
