// Overide Navbar Classes Bootstrap

.navbar .navbar-toggler {
    border: none;
    color: transparent;
}

.navbar .navbar-toggler:hover {
    background-color: rgba(242, 249, 249, 0.8);
}

.navbar .navbar-toggler-icon {
    @extend .navbar-toggler-icon;
    background-size: 80%;
}

.navbar .navbar-toggler-icon:focus {
    outline: none !important;
}

.navbar .navbar-toggler-icon:active {
    scale: 0.8;
}

.blur-15 {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.navbar-init-transparent {
    @extend .navbar;
    background-color: none !important;
}

.navbar-init-transparent .navbar-brand span {
    color: #5faab1 !important;
}

.navbar-init-transparent .navbar-expand .nav-link {
    color: $gray-400;
}

.navbar-init-transparent .navbar-expand .nav-link.active {
    color: #5faab1 !important;
}

.navbar-init-transparent .navbar-expand .nav-link:hover {
    color: $primary-400 !important;
}

.navbar-init-transparent .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg !important;
}

.navbar-shadow {
    @extend .blur-15;
    box-shadow: 0 0 4px 2px #00000014;
    background: rgba(255, 255, 255, 0.8);

    .navbar-expand .nav-link {
        color: $gray-600 !important;
    }

    .navbar-expand .nav-link.active {
        color: $primary-500 !important;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: $navbar-light-toggler-icon-bg !important;
    }
}

.navbar {
    @extend .navbar;
    // scss-docs-start navbar-css-vars
    --#{$prefix}navbar-padding-x: #{if($navbar-padding-sm-x == null, 0, $navbar-padding-sm-x)};
    --#{$prefix}navbar-padding-y: #{$navbar-padding-sm-y};

    padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
}

.floating-on-top {
    @extend .sm-mt-64;
    position: relative;
    background-color: rgba(242, 249, 249, 0.5);
    z-index: 1;
}

.floating-on-top-now {
    @extend .fixed-top;
    @extend .sm-mt-64;
    @extend .blur-15;
    box-shadow: 0 4px 4px -2px #00000014;
    background-color: rgba(242, 249, 249, 0.8);
    z-index: 1;
}

.offcanvas {
    z-index: 999999;
}

// Overide bootstrap when screen greather than sm
@include media-breakpoint-up(sm) {
    .navbar {
        // scss-docs-start navbar-css-vars
        --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
        --#{$prefix}navbar-padding-y: #{$navbar-padding-y};

        padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
    }

    .floating-on-top {
        margin-top: 68px;
    }

    .floating-on-top-now {
        margin-top: 68px;
    }
}
